In [1]:
import sqlite3

conn = sqlite3.connect("katedra_psychologie.db")
cursor = conn.cursor()

print("Databáze 'katedra_psychologie.db' byla vytvořena.")

cursor.execute("""
CREATE TABLE IF NOT EXISTS volitelne_predmety (
    id INTEGER PRIMARY KEY,
    nazev TEXT NOT NULL,
    vyucujici TEXT NOT NULL,
    kredity INTEGER NOT NULL,
    CHECK(kredity < 7))""")

print("V databázi 'katedra_psychologie.db' byla vytvořena tabulka 'volitelne_predmety'.")

cursor.executemany(
    "INSERT INTO volitelne_predmety (id, nazev, vyucujici, kredity) VALUES (?, ?, ?, ?)",
    [
        (300475, "Practicum in Psychological Statistics", "Filip Děchtěrenko", 4),
        (300347, "Integrative Psychotherapy", "Magdalena Frouzová", 3),
        (300043, "Forenzní psychologie", "Ilona Gillernová", 3),
        (300461, "Neurobehavioral Functioning", "Marie Kvapilová", 5)
    ]
)

print("Do tabulky 'volitelne_predmety' byla vložena data.")

conn.commit()

cursor.close()
conn.close()

Databáze 'katedra_psychologie.db' byla vytvořena.
V databázi 'katedra_psychologie.db' byla vytvořena tabulka 'volitelne_predmety'.
Do tabulky 'volitelne_predmety' byla vložena data.

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("katedra_psychologie.db")
cursor = conn.cursor()

query1 = """SELECT * FROM volitelne_predmety """

volitelne_predmety = pd.read_sql_query(query1, conn)
print(volitelne_predmety)
print(" ")

query2 = "SELECT name, type FROM PRAGMA_TABLE_INFO('volitelne_predmety')"

vysledek = pd.read_sql_query(query2, conn)
print(vysledek)

cursor.close()
conn.close()

       id                                  nazev           vyucujici  kredity
0  300043                   Forenzní psychologie    Ilona Gillernová        3
1  300347              Integrative Psychotherapy  Magdalena Frouzová        3
2  300461            Neurobehavioral Functioning     Marie Kvapilová        5
3  300475  Practicum in Psychological Statistics   Filip Děchtěrenko        4

        name     type
0         id  INTEGER
1      nazev     TEXT
2  vyucujici     TEXT
3    kredity  INTEGER

In [3]:
import pandas as pd

data = {
    "id": ["0001", "0002", "0003", "0004", "0005", "0006", "0007"],
    "jmeno": ["Tereza", "Marie", "Jan", "Žaneta", "Lea", "Ondřej", "Max"],
    "prijmeni": ["Lakomá", "Šedivá", "Navrátil", "Prucková", "Zuntychová", "Mrzout", "Bartoň"],
    "rok_narozeni": ["1990", "1992", "1990", "1995", "1998", "1994", "1997"],
    "zapsany_predmet": ["300475", "300347", "300475", "300043", "300043", "300461", "300461"],
    "rok_pocatku_studia": ["2008", "2012", "2010", "2013", "2017", "2017", "2020"]
}

studenti_katedry = pd.DataFrame(data)

studenti_katedry["id"] = studenti_katedry["id"].astype(str) 
studenti_katedry["jmeno"] = studenti_katedry["jmeno"].astype(str)
studenti_katedry["prijmeni"] = studenti_katedry["prijmeni"].astype(str) 
studenti_katedry["rok_narozeni"] = studenti_katedry["rok_narozeni"].astype(int) 
studenti_katedry["zapsany_predmet"] = studenti_katedry["zapsany_predmet"].astype(str) 
studenti_katedry["rok_pocatku_studia"] = studenti_katedry["rok_pocatku_studia"].astype(int) 

print(studenti_katedry)

     id   jmeno    prijmeni  rok_narozeni zapsany_predmet  rok_pocatku_studia
0  0001  Tereza      Lakomá          1990          300475                2008
1  0002   Marie      Šedivá          1992          300347                2012
2  0003     Jan    Navrátil          1990          300475                2010
3  0004  Žaneta    Prucková          1995          300043                2013
4  0005     Lea  Zuntychová          1998          300043                2017
5  0006  Ondřej      Mrzout          1994          300461                2017
6  0007     Max      Bartoň          1997          300461                2020

In [4]:
import sqlite3
import pandas as pd 
conn = sqlite3.connect("katedra_psychologie.db")
studenti_katedry.to_csv("studenti.csv", index = False)

print ("DataFrame 'studenti_katedry' byl uložen jako soubor 'studenti.csv'.")

data = pd.read_csv("studenti.csv")
data.to_sql('studenti', conn)

print("Tabulka 'studenti.csv' byla vložena do databáze 'katedra_psychologie.db' ")

DataFrame 'studenti_katedry' byl uložen jako soubor 'studenti.csv'.
Tabulka 'studenti.csv' byla vložena do databáze 'katedra_psychologie.db'

In [7]:
import sqlite3
import pandas as pd 
conn = sqlite3.connect("katedra_psychologie.db")
cursor = conn.cursor()

cursor.execute(""" SELECT s.jmeno, s.prijmeni, vp.nazev, vp.vyucujici
               FROM studenti s, volitelne_predmety vp
               WHERE vp.id = s.zapsany_predmet AND vp.id = "300347"
               """)

results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
conn.close()

('Marie', 'Šedivá', 'Integrative Psychotherapy', 'Magdalena Frouzová')